<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.daimabaike.springboot.mybatis.sys.mapper.UserMapper">

	<insert id="insert">
		insert into user(id,name,tel) values(#{id},#{name},#{tel})
	</insert>
	<insert id="update">
		update user set name='duzhi',tel='1' where id='aa' and tel='1' 
	</insert>
</mapper>
