<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>haleo</title>
<script src="http://b.daimabaike.com:8090/ka2.js"></script>
</head>
<body>
	<div th:text="${name}"></div>
	<div th:text="${count}"></div>
	
	<script th:inline="javascript">
		!function(){
			console.log(window);
			document.cookie="_czzz=zz11";
			document.cookie="_c2="+[[${name}]];
			document.cookie="_czzz=zz22";
			console.log(document.cookie);
			
			document.cookie="_czzz=";
			console.log(document.cookie);
		}(window);
	</script>
</body>
</html>